<div class="ui grid center aligned h100" style="margin-top: -28px; min-height: 100vh;">
    <div class="row" style="position: fixed; z-index: 1000; margin-top: 8px;">
        <div class="column">
            <button class="ui labeled icon black button" ng-click="Refresh()">
                <i class="refresh icon"></i>
                Refresh location
            </button>
        </div>
    </div>
    <div class="row h100">
        <div class="column h100">
            <div class="h100" id="mapid"></div>
        </div>
    </div>
</div>
